.header_main {
    background-color: #ffffff;
    color: #878786;
    max-height: 3rem;
    min-height: 3rem;
    font-size: 3.65rem;
    padding: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_secondary {
    background-color: #ffffff;
    color: #000000;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}